# Dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Compiled Output & Build Artifacts
dist/
build/
out/
.next/
/.nyc_output
*.tsbuildinfo
next-env.d.ts

# Logs & Debugging
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Testing & Diagnostics
coverage/
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Environment Variables & Secrets
.env
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# IDEs, Editors & OS Artifacts
.DS_Store
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Process Data & Hosting
pids
*.pid
*.seed
*.pid.lock
.vercel

# Temporary Files
.temp/
.tmp/

# Prisma
generated/prisma/